.app-logo[data-v-90df4385]{display:flex;align-items:center;column-gap:.5rem}.app-logo .app-logo-title[data-v-90df4385]{font-size:1.25rem;font-weight:600;line-height:1.75rem;text-transform:capitalize}
